#widget
{
    font-family:Verdana;
    text-align:center;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
}
       
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
    
.counter-digit 
{
    margin: 0px 2px;
}
     
h1
{
    text-align: left;
    color: #FF9933;
    margin-left: 50px;
}
            
img
{
    float: right;
    margin-right: 50px;
}
            
#slctLeasingSubject
{
    width:250px;
    height:50px;
    padding: 5px;
    margin:10px;
    color: #FFFFFF;
    background-color: #a0bf1f;
    border-radius: 10px;
    box-shadow: 0px 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%), inset 0px -1px 6px -2px hsl(0, 0%, 2%);
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none !important;
    appearance: none;
}
            
h3
{
    color: #6090ca;
}

input
{
   text-align:center;
}  

.button
{
    background-color: #6090ca;
    color: #FFFFFF;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 18px;   
}   
       
.textbox
{
    margin: 10px 5px 10px 0px;
    border-radius: 10px;
    background-color: #a0bf1f;
    color: #FFFFFF;
    outline: 0;
    height: 50px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0px 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -4px hsl(0, 0%, 2%), inset 0px -1px 6px -2px hsl(0, 0%, 2%);
} 
            
.smallTextbox 
{ 
    margin-left: 10px;
    border-radius: 4px; 
    background-color: #a0bf1f;
    color: #FFFFFF;
    outline:0; 
    height:20px; 
    width: 75px; 
    padding-left:10px; 
    padding-right:10px; 
    font-weight: bold;
    box-shadow: inset 0px -4px 6px -6px hsl(0, 0%, 2%), inset 0px 4px 6px -5px hsl(0, 0%, 2%), inset 0px -1px 6px -3px hsl(0, 0%, 2%);
} 
            
.footer
{
    margin: 0 auto;
    text-align: justify;
    font-size: 12px;
    position: absolute;
    top: 525px;
    left: 50px;
    right:50px;
    color: #666666;
}
.smallSpeedometer
{
    background-position: center top;
    background-image: url('../img/smallScale.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    width: 230px;
    height: 225px;
    -webkit-border-radius: 117px;
    -moz-border-radius: 117px;
    border-radius: 117px;
    behavior: url(styles/pie/PIE.htc);/*border-radius для IE8*/
    -webkit-box-shadow: inset 0px 3px 4px 2px #828385, 0px -5px 4px 4px #e3e3e5, 0px 3px 4px 2px #d1dfe1, 0px 4px 4px 5px #828385;
    box-shadow: inset 0px 3px 4px 2px #828385, 0px -5px 4px 4px #e3e3e5, 0px 3px 4px 2px #d1dfe1, 0px 4px 4px 5px #828385;
}

.emptySpeedometer
{    
    background-color: #FFFFFF;
    width: 230px;
    height: 225px;
    -webkit-border-radius: 117px;
    -moz-border-radius: 117px;
    border-radius: 117px;
    behavior: url(styles/pie/PIE.htc);/*border-radius для IE8*/
    -webkit-box-shadow: inset 0px 3px 4px 2px #828385, 0px -5px 4px 4px #e3e3e5, 0px 3px 4px 2px #d1dfe1, 0px 4px 4px 5px #828385;
    box-shadow: inset 0px 3px 4px 2px #828385, 0px -5px 4px 4px #e3e3e5, 0px 3px 4px 2px #d1dfe1, 0px 4px 4px 5px #828385;
}

.speedometer
{
    background-position: center top;
    background-image: url('../img/bigScale.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    -webkit-border-radius: 155px;
    -moz-border-radius: 155px;
    border-radius: 155px;
    behavior: url(styles/pie/PIE.htc);/*border-radius для IE8*/
    -webkit-box-shadow: inset 0px 3px 4px 2px #828385, 0px -5px 4px 4px #e3e3e5, 0px 3px 4px 2px #d1dfe1, 0px 4px 4px 5px #828385;
    box-shadow: inset 0px 3px 4px 2px #828385, 0px -5px 4px 4px #e3e3e5, 0px 3px 4px 2px #d1dfe1, 0px 4px 4px 5px #828385;
}